### ESP32S3 used is a wemos s3 mini

esp32:
  board: lolin_s3
  variant: esp32s3
  framework:
    type: arduino
#    version: latest

uart:
  id: uart_bus
  tx_pin: 35  #SDA
  rx_pin: 36  #SCL
  baud_rate: 9600

#status_led:
#  pin:
#    number: 47

# get rid of CDC error
esphome:
  platformio_options:
    board_build.arduino.memory_type: qio_qspi
    board_upload.flash_size: 4MB
    board_upload.ram_size: 327680
    board_upload_maximum_size: 4193404
    board_upload_speed: 460800
    build_flags: [
      "-DBOARD_HAS_PSRAM",
      "-DARDUINO_LOLIN_S3_MINI",
      "-DARDUINO_USB_MODE=1"]
    board_build.extra_flags:
      - "-DARDUINO_USB_CDC_ON_BOOT=0"  # Override, defaults to '-DARDUINO_USB_CDC_ON_BOOT=1'

# Enable/Disable logging
logger:
  logs:
    esp32.preferences: WARN
    sensor: WARN
    text_sensor: WARN
    dht.sensor: WARN
    switch: WARN
    button: WARN
    number: WARN
  # baud_rate: 0  # <--- super important! for ESP8266

wifi:
  ap:
    ssid: "${name} hotspot"
    password: "configesp"

captive_portal:

# Enable Web server.
web_server:
  port: 80

## watermeter pulse / relay 1
button:
## temporarely test button for testing reg puls
  - id: saltfill_button
    name: Salt fill
    platform: template
    on_press:
      then:
        - text_sensor.template.publish:
            id: saltlevel_fill_last
            state: !lambda |-
              char str[32];
              time_t currTime = id(salt_level_sntp_time).now().timestamp;
              strftime(str, sizeof(str), "%a %d %b %H:%M", localtime(&currTime));
              return  { str };
        - lambda: |-
            ESP_LOGI("Saltfill", "button pressed");